{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

<script src="/static/base/js/plugins/chartist.min.js"></script>

<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card-header card-header-warning card-header-icon" style="background-color: gray;">
          <h6 class="card-title text-center" style="background-color:gray; color: yellow;">MOVIMIENTOS DE INVENTARIO</h6>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card card-stats text-center">
          <a href="{% url 'catalogos:catalogo' %}">
            <i class="material-icons">account_circle</i>
            <br /><br />
            <h6 class="card-title">Cat&aacute;logo</h6>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card card-stats text-center">
          <a href="{% url 'catalogos:movimientos' 1 %}">
            <i class="material-icons">check_circle_outline</i>
            <br /><br />
            <h6 class="card-title">Entradas</h6>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card card-stats text-center">
          <a href="{% url 'catalogos:movimientos' 2 %}">
            <i class="material-icons">fact_check</i>
            <br /><br />
            <h6 class="card-title">Sal&iacute;das</h6>
          </a>
        </div>
      </div>
    </div><br>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card-header card-header-warning card-header-icon">
          <h6 class="card-title text-center">CONSULTAS</h6>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card card-stats text-center">
          <i class="material-icons">done_all</i>
          <div class="card-body text-center">
            <h5 class="card-text">Reporte de movimientos</h5>
            <button class="btn btn-rose btn-fill" onclick="ver_movimientos()">Consultar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function reporte1(itemn) {
    var r = $("#"+itemn).val();
    var datos = {'periodo':r};
    window.location.href="{% url 'catalogos:info_movimientos1_resul' %}?periodo="+r
  }


  function ver_movimientos() {
    swal({
      title: 'Consulta de Movimientos',
      html: '<div class="form-group"> <div class="col-md-6"><center>' +
        '<input class="form-control" id="reporte" type="month" name="cambio_mes" value="" placeholder="Cambiar mes y a&nacute;o" onblur="reporte1(id)">' +
        '</center></div></div>',
      showCancelButton: true,
      confirmButtonClass: 'btn btn-success',
      cancelButtonClass: 'btn btn-danger',
      buttonsStyling: false
    }).catch(swal.noop)
  }

  new Chartist.Bar('.ct-chart', {
    labels: ['E', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'],
    series: [
        {{ventas}}
    ]
    }, {
    stackBars: true,
    axisY: {
        labelInterpolationFnc: function(value) {
        return (value / 1000000) + 'M';
        }
    }
    }).on('draw', function(data) {
    if(data.type === 'bar') {
        data.element.attr({
        style: 'stroke-width: 15px'
        });
    }
    });
     

  /*  **************** Public Preferences - Pie Chart ******************** */

  new Chartist.Bar('.ct-chart1', {
    labels: ['30d', '60d', '90d', '+90d'],
    series: [{{vencimientos}}]
    }, {
    stackBars: true,
    axisY: {
        labelInterpolationFnc: function(value) {
        return (value / 1000000) + 'M';
        }
    }
    }).on('draw', function(data) {
    if(data.type === 'bar') {
        data.element.attr({
        style: 'stroke-width: 25px'
        });
    }
    });

    new Chartist.Bar('.ct-chart2', {
      labels: ['30d', '60d', '90d', '+90d'],
      series: [{{gastos}}]
      }, {
      stackBars: true,
      axisY: {
          labelInterpolationFnc: function(value) {
          return (value / 1000000) + 'M';
          }
      }
      }).on('draw', function(data) {
      if(data.type === 'bar') {
          data.element.attr({
          style: 'stroke-width: 25px'
          });
      }
      });
  
</script>

{% endblock contenido %}
<!--
then(function(result) {
      var r = $("#reporte").val();
      var mes = parseInt(r.substr(5,7));
      var ano = parseInt(r.substr(0,4));
      swal({
        type: 'success',
        html: 'You can use <b>bold text</b>, ' +
          '<a href={% url 'catalogos:info_movimientos1_resul'  %}">links</a> ' +
          'and other HTML tags',
        confirmButtonClass: 'btn btn-success',
        buttonsStyling: false

      })
    }).-->