*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: url("../data/pattern/p.png") repeat;
}


#hap-wrapper{
	position: relative;
	top:50px;
	max-width:320px;
	margin: 0 auto;
	font-family: Helvetica,Arial,sans-serif; 
}
.hap-player-holder{
	position:relative;
	width:100%;
	-moz-box-shadow: 1px 1px 3px #333;
	-webkit-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
	background: rgb(249,252,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.hap-player-thumb-wrapper{
	position:relative;
	height:178px!important;
	overflow:hidden;
}
.hap-player-thumb{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#222;
	overflow:hidden;
}
.hap-player-thumb img{
	display:block;
	width:100%;
	height:auto;
	min-height:100%;
	margin:0 auto;
	max-width: none!important;
}

.hap-contr-btn > i{
	color:#666;
}
.hap-contr-btn:hover > i,
.hap-contr-btn-hover{
	color:#aaa!important;
}
.hap-contr-btn{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-moz-box-shadow: 1px 1px 3px #444;
	-webkit-box-shadow: 1px 1px 3px #444;
    box-shadow: 1px 1px 3px #444;
    border-radius: 100%;
    border:2px;
}
.hap-contr-btn > i{
	position: absolute;
    top: 0;
    left: 0;
	width:30px;
	height:30px;
	text-align: center;
	display: inline-block;
	font-size: 15px!important;
	line-height: 30px!important;
}
.hap-player-bottom{
	padding-bottom:20px;
}
.hap-info{
	position: relative;
	text-align: center;
	margin-top:10px;
}
.hap-player-title{
	font-size:14px;
	text-align: center;
	margin-bottom: 3px;
	font-weight: 600;
	color:#222;
}
.hap-player-artist{
	font-size:12px;
	font-style: italic;
	color:#111;
	text-align: center;
}

.hap-player-controls{
	width:100%;
	height:50px;
	margin-top:20px;
	display: flex;
	justify-content:space-between;
}
.hap-share-toggle{
	position:relative;
	top:10px;
	left:15px;
	width:30px;
	height:30px;
}
.hap-share-holder{
	position:absolute;
	bottom:0px;
	left:0px;
	width:30px;
	height:135px;
	display: none;
	background: rgba(200, 54, 54, 0.01); 
}
.hap-share-toggle:hover .hap-share-holder{
	display: block;
}
.hap-share-item{
	position:relative;
	width:30px;
	height:30px;
	margin-bottom: 5px;
}
.hap-player-controls-inner{
	width:130px;
	height: 50px;
	display:flex;
	justify-content:space-between;
}
.hap-prev-toggle{
	position:relative;
	top:10px;
	left:0px;
	width:30px;
	height:30px;
}
.hap-playback-toggle{
	position:relative;
	top:0;
	width:50px;
	height:50px;
}
.hap-playback-toggle i{
	width:50px;
	height:50px;
	text-align: center;
	display: inline-block;
	font-size: 20px!important;
	line-height: 50px!important;
}
.hap-next-toggle{
	position:relative;
	top:10px;
	right:0px;
	width:30px;
	height:30px;
}

.hap-volume-wrapper{
	position:relative;
	top:10px;
	right:15px;
	width:30px;
	height:30px;
}
.hap-volume-wrapper:hover .hap-volume-seekbar{
	display: block;
}
.hap-volume-toggle{
	position:absolute;
	top:0px;
	left:0px;
	width:30px;
	height:30px;
}
.hap-volume-seekbar{
	position:absolute;
	top:-77px;
	left:0px;
	width:28px;
	height:80px;
	overflow:hidden;
	cursor: pointer;
	touch-action: none;
	display: none;
	background: rgba(200, 54, 54, 0.01); 
}
.hap-volume-bg{
	position:absolute;
	bottom:10px;
	left:10px;
	width:10px;
	height:60px;
	background:#bbb;
	border:1px solid #777;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;     
	-moz-box-shadow: 1px 1px 1px #bbb;
	-webkit-box-shadow: 1px 1px 1px #bbb;
    box-shadow: 1px 1px 1px #bbb;
}
.hap-volume-level{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:#fff;
	box-sizing: border-box;     
}
.hap-seekbar{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:12px;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:relative;
	background:#999;
	width:100%;
	top:5px;
	height:12px;
}
.hap-load-level{
	position:absolute;
	background:#bbb;
	top:0;
	height:100%;
}
.hap-progress-level{
	position:absolute;
	background:#eee;
	top:0;
	height:100%;
}



#hap-playlist-list{
	display:none;
}


.hap-tooltip{
	position:absolute;
	background:#B1C2BE;
	color:#fff!important;
	text-align:center;
	z-index:10000;
	pointer-events:none;
	-moz-box-shadow: 1px 1px 3px #ccc;
	-webkit-box-shadow: 1px 1px 3px #ccc;
	box-shadow: 1px 1px 3px #999;
	display:none;
	width:inherit;
	font-size:12px!important;
	padding:2px 5px !important;
	white-space:nowrap;
}



.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}




