*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: #fbecff;
}

#bg{
	position:fixed;
	width:100%;
	height: 100%;
	top:0px;
	left:0px;
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter        : blur(10px);
    -webkit-filter: blur(10px);
    transform: scale(1.03);
}

#hap-wrapper{
	position:fixed;
	bottom:0;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 310px;	
	max-width:900px;
	width:100%;
	left:50%;
	-webkit-transform: translate(-50%, 0);
  	-ms-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
  	z-index:999999;
}
.hap-wrapper-popup{
	top:0!important;
	bottom:auto!important;
}
.hap-player-holder{
	position: relative;
	left:0;
	background:rgba(76, 78, 99, 0.8);
	width: 100%;
    float: left;
    margin-right: -210px;
    height: 80px;
}

.hap-contr-btn > i{
	color:#fff;
}
.hap-contr-btn:hover > i,
.hap-contr-btn-hover{
	color:#F5C5EE!important;
} 
.hap-contr-btn i{
	position: absolute;
    top: 0;
    left: 0;
	width:25px;
	height:25px;
	text-align: center;
	display: inline-block;
	font-size: 15px!important;
	line-height: 25px!important;
}

.hap-playback-toggle-ex{
	position: absolute;
	width:30px;
	height:30px;
	top:-30px;
	right:35px;
	background:rgba(76, 78, 99, 0.8);
	cursor: pointer;
}
.hap-player-toggle{
	position: absolute;
	width:30px;
	height:30px;
	top:-30px;
	right:0px;
	background:rgba(76, 78, 99, 0.8);
	cursor: pointer;
}
.hap-playback-toggle-ex i,
.hap-player-toggle i{
	width:30px;
	height:30px;
	line-height: 30px!important;
}
.hap-player-wrapper-left{
 	margin-right: 210px;
}
.hap-player-wrapper-right{
	width:210px;
	float: right;
	margin-top:15px;
	padding-bottom:10px;
}
.hap-right-controls{
	margin-right:20px;
}



.hap-player-thumb{
	position: relative;
	width:124px;
	height:70px;
	float: left;
	margin-bottom: 10px;
	overflow: hidden;
}
.hap-player-thumb img{
	display: block;
	height: 100%;
	width: auto!important;
	min-width: 124px;
	max-width: none!important;
}
.hap-info{
	margin-top:10px;
	margin-left:12px; 
	float: left;
	pointer-events:none;
}
.hap-player-title{
	position: absolute;
	font-size:15px;
	color:#fff;
}
.hap-player-artist{
	position: relative;
	top:20px;
	font-size:13px;
	color:#F5C5EE;
}

.hap-center-controls{
	position: absolute;
	display: inline-block;
	height: 30px;
	top:10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
}
.hap-prev-toggle{
	position:relative;
	left:0px;
	top:2px;
	width:25px;
	height:25px;
	float:left;
	margin-right:15px;
}
.hap-playback-toggle{
	position:relative;
	top:-2px;
	width:30px;
	height:30px;
	float:left;
	margin-right:15px;
	border-radius: 100%;
	border:2px solid #fff;
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box;   
	box-sizing: content-box;  
}
.hap-playback-toggle i{
	width:30px;
	height:30px;
	line-height:30px!important;
}
.hap-next-toggle{
	position:relative;
	top:2px;
	width:25px;
	height:25px;
	float:left;
}


.hap-playlist-toggle{
	position:relative;
	width:25px;
	height:25px;
	float:right;
	margin-left:5px;
	cursor: pointer;
}
.hap-volume-toggle{
	position:relative;
	width:25px;
	height:25px;
	float:right;
}
.hap-volume-seekbar{
	position:relative;
	left:0px;
	top:5px;
	width:70px;
	height:16px;
	float:right;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	top:8px;
	left:10px;
	width:50px;
	height:1px;
	background:#F5C5EE;
}
.hap-volume-level{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	background:#ffffff;
}
.hap-seekbar{
	position:absolute;
	top:50px;
	left:250px;
	right:250px;
	height:16px;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:relative;
	background:#F5C5EE;
	width:100%;
	top:8px;
	height:1px;
}
.hap-load-level{
	position:absolute;
	background:#F5C5EE;
	top:0;
	height:100%;
}
.hap-progress-level{
	position:absolute;
	background:#fff;
	top:0;
	height:100%;
}



#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	position:relative;
	top:0px;
	width:100%;
	background:rgba(76, 78, 99, 0.8);
	overflow:hidden;
}
.hap-playlist-inner{
	margin:20px;
	min-height:100px;
	max-height:180px;
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	line-height: 30px;
	overflow: hidden;
	border-bottom: 1px solid #555;
	display: flex;
    width: 100%;
}
.hap-playlist-item:last-child {  
	border-bottom:0px!important;
}
.hap-playlist-item-content {
	cursor: pointer;
	flex:1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color:#ccc;
}
.hap-playlist-item-selected{
	background: #F5C5EE!important;
}
.hap-playlist-item-selected .hap-playlist-title-num,
.hap-playlist-item-selected .hap-playlist-title{
	color:#fff;
}
.hap-playlist-title-num{
	
}
.hap-playlist-title-num,
.hap-playlist-title {
	font-size:14px;
}
.hap-playlist-title {
	margin-left: 5px;
}

.hap-download, .hap-link{
	font-size: 15px!important;
	margin-left: 15px;
	margin-right: 4px;
	display: flex;
	justify-content: center;
	border: 0!important;
	box-shadow: none!important;
	color:#fff;
}
.hap-download i, .hap-link i{
	line-height:30px;
	color:inherit;
}
.hap-pl-time{
	font-size:12px;
	float: right;
	margin-right:5px!important;
}

.hap-playlist-filter-msg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.hap-playlist-filter::placeholder { 
    color: inherit!important;
}
.hap-playlist-filter-msg span{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
	color: #F5C5EE;
}	

.hap-bottom-bar{
	position:relative;
	top:0px;
	clear:both;
	height:30px;
	width:100%;
	overflow:hidden;
}
.hap-search-filter{
	position:relative;
	width:125px!important;
	height:18px!important;
	top:50%;
	margin:-9px 0 0 20px!important;
	padding:0!important;
	border:0!important;
	-moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
	border-radius:0 !important;
	background:#eee !important;
	color:#333 !important;
	box-shadow:none!important; 
	line-height:1!important; 
	float: left;
}
.hap-search-filter::placeholder { 
	color: inherit!important;
}

.hap-bottom-bar i{
	display: inline-block;
	font-size: 15px!important;
	line-height: 30px!important;
}
.hap-sort-alpha{
	position:relative;
	left:5px;
	top:0px;
	width:25px;
	height:100%;
	text-align: center;
	float: left;
}
.hap-random-toggle,
.hap-popup-toggle{
	position:relative;
	top:0px;
	width:25px;
	height:100%;
	float: right;
	top:0px;
}
.hap-random-toggle,
.hap-popup-toggle{
	margin-right:10px;
}
.hap-share-holder{
	position:absolute;
	top:0px;
	right:25px;
	height:100%;
}
.hap-share-item{
	position: relative;
	top:0;
	width:25px;
	height:100%;
	margin-left:10px;
	text-align: center;
	float: right;
}





.hap-tooltip{
	position:absolute;
	background:#F5C5EE;
	color:#fff!important;
	text-align:center;
	z-index:10000;
	pointer-events:none;
	display:none;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	font-size:12px!important;
	padding:2px 5px !important;
	line-height:20px !important;
	white-space:nowrap;
}

.hap-preloader {
	position: fixed;
	top:50%;
	left:50%;
    width: 40px;
    height: 40px;
    margin-left:-20px;
	margin-top:-20px;
    background-color: #F5C5EE;
    -webkit-animation: hap_preloader 1.2s infinite ease-in-out;
    animation: hap_preloader 1.2s infinite ease-in-out;
}
@-webkit-keyframes hap_preloader {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes hap_preloader {
    0% { 
	    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
	    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
	    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}



/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}
.hap-mCSB_full{/* hide scroll area when no scroll */
	margin-right: 0!important;
}


@media screen and (max-width: 768px) {
     .hap-seekbar{
	    left:150px;
		right: 150px;
	}
}
@media screen and (max-width: 641px) {
	.hap-player-holder {
        margin-right:0px;
    }
    .hap-player-wrapper-left {
        margin-right:0px;
        width:100%;
    }
    .hap-player-wrapper-right {
    	margin-top:0px;
        clear:left;
        float:left;
        width:100%;
        background:rgba(76, 78, 99, 0.8);
    }
    .hap-seekbar{
	    left:137px;
		right:25px;
	}
	.hap-center-controls{
		left:15px;
		top:78px;
   		transform: none;
	}
	.hap-player-title{
		position: absolute;
		overflow: hidden;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    width: -webkit-calc(100% - 145px);
	    width: -moz-calc(100% - 145px);
	    width: calc(100% - 145px);
	}
	
}
@media screen and (max-width: 360px) {
	.hap-prev-toggle,
	.hap-playback-toggle{
		margin-right:5px;
	}
	input.hap-search-filter[type="text"]{
		width:100px!important;
	}
	.hap-sort-alpha{
		display: none;
	}
}