{% extends 'base/base1.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

<script src="/static/base/js/plugins/chartist.min.js"></script>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card-header card-header-warning card-header-icon"  style="background-color: gray;">
            <h4 class="card-title text-center" style="background-color:gray; color: yellow;">F A C T U R A C I &Oacute; N</h4>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-2">
            <div class="card card-stats text-center">
              <a href="{% url 'facturas:pos_new' %}"><br />
                <i class="material-icons">monetization_on</i>
                <br /><br />
                <h6 class="card-title">POS</h6> <br />
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-1">
            <div class="card card-stats text-center">
              <a href="">
                <i class="material-icons">check_circle</i>
                <br /><br />
                <h6 class="card-title">DIAN</h6>
              </a>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="card card-stats text-center">
              <a href="">
                <i class="material-icons">group_work</i>
                <br /><br />
                <h6 class="card-title">Reporte</h6>
              </a>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="card card-stats text-center">
              <a href="">
                <i class="material-icons">circle_notifications</i>
                <br /><br />
                <h6 class="card-title">Totales</h6>
              </a>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="card card-stats text-center">
              <a href="">
                <i class="material-icons">block</i>
                <br /><br />
                <h6 class="card-title">Anular</h6>
              </a>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="card card-stats text-center">
              <a href="">
                <i class="material-icons text-center">ND</i>
                <br /><br />
                <h6 class="card-title">Nota D&eacute;bito</h6>
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-2">
            <div class="card card-stats text-center"><br />
              <a href="{% url 'facturas:pos_cierre' %}">
                <i class="material-icons">flaky</i>
                <br /><br />
                <h6 class="card-title">CIERRE</h6><br />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}
