{% extends 'base/base.html' %}

{% block menu1 %}

<div class="sidebar" data-color="orange" data-background-color="black" data-image="/static/base/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="{% url 'generales:home' %}" class="simple-text logo-mini">
            <img src="/static/base/images/logo_komtroll.png" width="30px" alt="IMG">
        </a>
        <a href="{% url 'generales:home' %}" class="simple-text logo-normal">
          KOMTROLL.com
        </a>
    </div>

    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                {% if request.user.is_staff %}
                    <img src="{{ user.profile.foto.url }}"/>
                {% endif %}
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        {{ user.first_name }} {{ user.last_name }}
                        <b class="caret"></b>
                    </span>
                </a>
            </div>
        </div><br><br><br><br><br>
        <div class="row justify-content-center">
            <p style="color:rgba(201, 198, 198, 0.719); font-size:70px;"><strong>P</strong></p>
            <br><br><br><br><br>
        </div>
        <div class="row justify-content-center">
            <p style="color:rgba(201, 198, 198, 0.719); font-size:70px;"><strong>O</strong></p>
            <br><br><br><br><br>
        </div>
        <div class="row justify-content-center">
            <p style="color:rgba(201, 198, 198, 0.719); font-size:70px;"><strong>S</strong></p>
        </div>
    </div>
</div>

{% endblock menu1 %}


{% block contenido %}

{% load humanize %}

<link type="text/css" rel="stylesheet" href="/static/base/printarea/css/PrintArea.css" />
<br>
<br>
<br>
<div >
  <div class="row justify-content-center" style="font: TimesNewRoman">
    <div class="col-md-4">
        <div class="card ">
            <div class="card-body ">
                <div class="row justify-content-center">
                  <p style="font-size: 14px;"><strong>TOTAL      $ {{total|intcomma}}</strong></p>
                </div>
                <div class="row justify-content-center">
                  <p style="font-size: 18px;">RECIBIDO   $ {{recibido|intcomma}}</p></div>
                </div>
                <div class="row justify-content-center">
                  <p style="font-size: 24px; color:blue;">CAMBIO     $ {{cambio|intcomma}}</p></div>
                </div>
                <div class="row justify-content-center">
                  <a href="javascript:void(0)" id="imprime" class="btn btn-warning"><span class="fa fa-print"></span> Imprimir</a>
                  <a href="{% url 'facturas:pos_new' %}" class="btn btn-success"><span class="fa fa-undo"></span> Aceptar</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div class="ca55rd *">
              <div class="tickeooot">
                <div  id="myPrintArea">
                  <div class="row justify-content-center">
                    <img class="text-align:center;" src={{ctx.logo.url}}  width="40%;">
                  </div>
                  <strong>
                    <div class="row justify-content-center">
                      <h2 class="text-center">{{ctx.empresa}}</h2>
                    </div>
                    <div class="row justify-content-center">
                      <h5>DOCUMENTO EQUIVALENTE No. {{ctx.factura.factura}}</h5>
                    </div>
                    <div class="row justify-content-center">
                      <p class="text-center">
                        <span>{{ctx.factura.fecha_factura}}</span>
                        <br>{{ctx.nit}}
                        <br>{{ctx.direccion}}   Tel. {{ctx.telefono}}
                        <br><small>{% if dian %}{{ctx.dian}}{% else %}Resoloci&oacute;n DIAN ##{% endif %}</small>
                      </p>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                      <table class="default" style="border-top: 1px solid black;
                      border-bottom: 1px solid black;
                      border-collapse: collapse;">
                          <thead>
                              <tr>
                                  <th class="cantidad" style="width: 40px;">CANT</th>
                                  <th class="producto" style="width: 200px;">PRODUCTO</th>
                                  <th class="precio" style="width: 100px;">PRECIO</th>
                              </tr>
                          </thead>
                          <tbody width="100%">
                              {% for item in ctx.detalle %}
                                  <tr>
                                      <td class="cantidad">{{item.cantidad}}</td>
                                      <td class="producto">{{item.producto}}</td>
                                      <td class="precio">${{item.valor_unidad|intcomma}}</td>
                                  </tr>
                              {% endfor %}
                              <tr>
                                <td class="cantidad"></td>
                                <td class="producto">SUBTOTAL</td>
                                <td class="precio">${{total|intcomma}}</td>
                              </tr>
                              <tr>
                                <td class="cantidad"></td>
                                <td class="producto">IVA</td>
                                <td class="precio">${{iva_total|intcomma}}</td>
                              </tr>
                              <tr>
                                <td class="cantidad"></td>
                                <td class="producto">DESCUENTOS</td>
                                <td class="precio">${{descuento|intcomma}}</td>
                              </tr>
                              <tr>
                                <td class="cantidad"></td>
                                <td class="producto">T O T A L</td>
                                <td class="precio">${{neto|intcomma}}</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                    <div class="row justify-content-center">
                      <p class="text-left" style="font-size: 10px;">
                        <br>RECIBIDO   ${{recibido|intcomma}}
                        <br><strong>CAMBIO   ${{cambio|intcomma}}</strong>
                        <br>
                        {% if efectivo|length > 1 %}<br>EFECTIVO   <strong>${{efectivo|intcomma}}</strong>{% endif %}
                        {% if tdebito|length > 1 %}<br>T DEBITO   <strong>${{tdebito|intcomma}}</strong>{% endif %}
                        {% if tcredito|length > 1 %}<br>T CREDITO   <strong>${{tcredito|intcomma}}</strong>{% endif %}
                        {% if transferencia|length > 1 %}<br>TRANSFER   <strong>${{transferencia|intcomma}}</strong>{% endif %}
                        {% if bonos|length > 1 %}<br>BONOS   <strong>${{bonos|intcomma}}</strong>{% endif %}
                        {% if credito|length > 1 %}<br>CREDITO   <strong>${{credito|intcomma}}</strong>{% endif %}
                        <br>
                      </p>
                    </div>
                    <div class="row justify-content-center">
                      <p class="text-center">¡GRACIAS POR SU COMPRA!</p>
                    </div>
                    <div class="row justify-content-center">
                      <p class="text-center" style="font-size: 10px;">
                        INFORMACION TRIBUTARIA<br>
                        {% if iva.base0 > 0 %}TARIFA: <strong>{{iva.tarifa0}}%</strong>   BASE:<strong>{{iva.base0|intcomma}}</strong>  VALOR: <strong>${{iva.valor0|intcomma}}</strong><br>{% endif %}
                        {% if iva.base1 > 0 %}TARIFA: <strong>{{iva.tarifa1}}%</strong>   BASE:<strong>{{iva.base1|intcomma}}</strong>  VALOR: <strong>${{iva.valor1|intcomma}}</strong><br>{% endif %}
                        {% if iva.base2 > 0 %}TARIFA: <strong>{{iva.tarifa2}}%</strong>   BASE:<strong>{{iva.base2|intcomma}}</strong>  VALOR: <strong>${{iva.valor2|intcomma}}</strong>{% endif %}
                        <br> 
                      </p>
                    </div><br/><br/>
                  </strong>
                </div><br/><br/><br/><p class="text-center" style="font-size: 8px;">SOFTWARE POS - komtroll.com    por BUSYCOL SAS COL</p><br/><br/><br/><br/><br/><br/><p>..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}


{% block extra_js %}

  <!--<script src="/static/base/printarea/js/jquery.PrintArea.js" type="text/JavaScript" language="javascript"></script>-->


  <script type="text/javascript">
    $("#imprime").click(function (){
      var printContents = document.getElementById('myPrintArea').innerHTML;
      w = window.open();
      w.document.write(printContents);
      w.document.close(); // necessary for IE >= 10
      w.focus(); // necessary for IE >= 10
      w.print();
      w.close();
      return true;
    })


    //function imprim1(imp1){
    //var printContents = document.getElementById('myPrintArea').innerHTML;
    //        w = window.open();
    //        w.document.write(printContents);
    //        w.document.close(); // necessary for IE >= 10
    //        w.focus(); // necessary for IE >= 10
    //    w.print();
    //    w.close();
    //        return true;}
  </script>

{% endblock extra_js %}