{% extends 'base/base.html' %}

{% block contenido %}

{% load humanize %}
<link rel="stylesheet" href="/static/base/assets/css/impresion.css"> <script src="script.js"></script>
<link type="text/css" rel="stylesheet" href="/static/base/printarea/css/PrintArea.css" /> 
<br>
<br>
<br>
<div >
  <div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card ">
            <div class="card-body ">
                <div class="row justify-content-center">
                  <p style="font-size: 14px;">TOTAL      $ {{total|intcomma}}</p>
                </div>
                <div class="row justify-content-center">
                  <p style="font-size: 14px;">RECIBIDO   $ {{recibido|intcomma}}</p></div>
                </div>
                <div class="row justify-content-center">
                  <p style="font-size: 22px; color:blue;">CAMBIO     $ {{cambio|intcomma}}</p></div>
                </div>

                <div class="row justify-content-center">

                  <a href="javascript:void(0)" id="imprime" class="btn btn-warning"><span class="fa fa-print"></span> Imprimir</a>
                  <a href="{% url 'facturas:pos_new' %}" class="btn btn-success"><span class="fa fa-undo"></span> Aceptar</a>
                </div>
            </div>
        </div>
        <div class="card ">
          <div class="ticket">



            <div  id="myPrintArea">

              <div class="row justify-content-center">
                <img class="centrado" src={{ctx.logo.url}}  width="20%;">
              </div>
              <p class="centrado">{{ctx.empresa}}              
                  <br>DOCUMENTO EQUIVALENTE No. {{ctx.factura.factura}}
                  <br>{{ctx.nit}}
                  <br>{{ctx.fecha}}
                  <br>{{ctx.direccion}}   Tel. {{ctx.telefono}}
                  <br><small>{% if dian %}{{ctx.dian}}{% else %}Resoloci&oacute;n DIAN ##{% endif %}</small>
              </p>
              <table>
                  <thead>
                      <tr>
                          <th class="cantidad">CANT</th>
                          <th class="producto">PRODUCTO</th>
                          <th class="precio">$$</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for item in ctx.detalle %}
                          <tr>
                              <td class="cantidad">{{item.cantidad}}</td>
                              <td class="producto">{{item.producto}}</td>
                              <td class="precio">{{item.valor_unidad}}</td>
                          </tr>
                      {% endfor %}
                    
                      <tr>
                          <td class="cantidad"></td>
                          <td class="producto">TOTAL</td>
                          <td class="precio">{{total}}</td>
                      </tr>
                  </tbody>
              </table>
              <p class="centrado">           
                  <br>RECIBIDO {{recibido}}
                  <br>CAMBIO   {{cambio}}
                  <br><br>
              </p>
              <p class="centrado">¡GRACIAS POR SU COMPRA!</p>
            </div><br/><br/>
          </div>
        </div>
      <p class="centrado">
          INFORMACION TRIBUTARIA<br>
          {% if iva.base0 > 0 %}TARIFA: {{iva.tarifa0}} %%   BASE:{{iva.base0}}  VALOR: {{iva.valor0}}<br>{% endif %}
          {% if iva.base1 > 0 %}TARIFA: {{iva.tarifa1}} %%   BASE:{{iva.base1}}  VALOR: {{iva.valor1}}<br>{% endif %}
          {% if iva.base2 > 0 %}TARIFA: {{iva.tarifa2}} %%   BASE:{{iva.base2}}  VALOR: {{iva.valor2}}{% endif %}

          <br> 
      </p><br/><br/>
    </div>
  </div>
</div>

{% endblock contenido %}


{% block extra_js %}

  <script src="/static/base/printarea/js/jquery.PrintArea.js" type="text/JavaScript" language="javascript"></script>


  <script type="text/javascript">
    $("#imprime").click(function (){
      $("div#myPrintArea").printArea();
    })
  </script>

{% endblock extra_js %}